.error{
	color: red;
}
.input-group{
	padding: 10px 0;
}
.btn-load{
	height: 114%;
}
th.quest-box, th.points-box{
	display:none;
}
.started .tools{
	display:none;
}
#admin-table td{
	vertical-align: middle;
}
.year-variable{
	display:inline-block;
	min-width: 25px;
	font-weight: bold;
	text-align:center;

}
