body {
  background-color: #13132A;
  background-image: url('./scenarios/skoricovnik.png');
  color: #333;
  position: relative;
  display: block;
}

.tblCountryRow, .tblCountryTeam, #infobox>div, table, .newsArticle p, .ended #newsBox {
  background-color: rgba(255, 255, 255, 0.85);
}

.tblCountryTeam {
  color: #333;
}

.grid .tblCountryRow.playing {
  background-color: indianred;
}

#infobox #timerdiv {
  background: indianred;
  color: white;
}

.newsArticle h4 {
  color: white;
}

.overlay, .spravy #newsBox {
  color: #DDD;
}
